# Ignore Python cache and build artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Ignore local dev files
.env
.env.*
*.local
*.DS_Store

# Ignore test and coverage files
.coverage
htmlcov/
tests/
*.egg-info/
dist/
build/

# Ignore VCS
.git
.gitignore

# Ignore ops secrets
../secrets/*